/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/09/2015, 08:12:03 PM
    Author     : etorres
*/
body {
  padding-top: 70px;
}
a:hover.danger {
  color: red !important;
}
a.danger {
  color: red !important;
}
.content .title {
  margin-bottom: 50px;
  margin-top: 30px;
}
.content .title a {
  font-size: 15px;
}
.content .title a:hover {
  text-decoration: none;
}
.content .relationship {
  margin-left: 10px;
}
.content .relationship:last-of-type {
  margin-bottom: 10px;
}
.content .relationship img {
  width: 30px;
}
.content .relationship:hover .delete {
  opacity: 1;
}
.content .relationship .delete {
  opacity: 0;
}
.content .editable .newRate {
  opacity: 0;
  width: 40px;
}
.content .editable a {
  margin-left: 10px;
  font-size: 15px;
  opacity: 0;
}
.content .editable:hover .newRate {
  opacity: 1;
}
.content .editable:hover a {
  opacity: 1;
}
.content .movie-container {
  margin-bottom: 40px;
  max-height: 428px;
}
.content .movie-container .movie:hover {
  text-decoration: none;
}
.content .movie-container .movie:hover .image-container:after {
  opacity: 1;
}
.content .movie-container .movie .image-container {
  position: relative;
}
.content .movie-container .movie .image-container img {
  width: 100%;
  vertical-align: top;
}
.content .movie-container .movie .image-container:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.content .movie-container .movie .movie-info {
  text-align: center;
}
.content .movie-container .movie .movie-info h4 {
  margin-bottom: 2px;
}
.content .actor-container .actor:hover {
  text-decoration: none;
}
.content .actor-container .actor:hover .image-container:after {
  opacity: 1;
}
.content .actor-container .actor .image-container {
  position: relative;
}
.content .actor-container .actor .image-container img {
  width: 100%;
  vertical-align: top;
}
.content .actor-container .actor .image-container:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.content .actor-container .actor .actor-info {
  text-align: center;
}
.content .actor-container .actor .actor-info h4 {
  margin-bottom: 2px;
}
.autocomplete .suggestionList .suggestionElement .suggestionInfo .suggestionImage img {
  max-height: 60px;
  max-width: 40px;
}
.autocomplete .suggestionList .suggestionElement .suggestionInfo .suggestionName {
  position: absolute;
  top: 40%;
  right: 0;
  padding-left: 20px;
}
