/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/09/2015, 08:12:03 PM
    Author     : etorres
*/

body { padding-top: 70px; }

a
{
    &:hover
        {
        &.danger
        {
            color: red !important;
        }
    }
    &.danger
    {
        color: red !important;
    }
}

.content
{
    .title
    {
        margin-bottom: 50px;
        margin-top: 30px;
        a
        {
            font-size: 15px;
            &:hover
            {
                text-decoration: none;
            }
        }
    }
    .relationship
    {
        margin-left: 10px;
        &:last-of-type
        {
            margin-bottom: 10px;
        }
        img
        {
            width: 30px;
        }
        &:hover
        {
            .delete
            {
                opacity: 1;
            }
        }
        .delete
        {
            opacity: 0;
        }
    }
    .editable
    {
        .newRate
        {
            opacity: 0;
            width: 40px;
        }
        a
        {
            margin-left: 10px;
            font-size: 15px;
            opacity: 0;
        }
        &:hover
        {
            .newRate
            {
                opacity: 1;
            }
            a
            {
                opacity: 1;
            }
        }
    }
    .movie-container
    {
        margin-bottom: 40px;
        max-height: 428px;
        .movie
        {
            &:hover
            {
                text-decoration: none;
                .image-container
                {
                    &:after
                    {
                        opacity:1;
                    }
                }
            }
            .image-container
            {
                position:relative;
                img
                {
                    width:100%;
                    vertical-align:top;
                }
                &:after
                {
                    content:'\A';
                    position:absolute;
                    width:100%; 
                    height:100%;
                    top:0;
                    left:0;
                    background:rgba(0,0,0,0.3);
                    opacity:0;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                }
            }
            .movie-info
            {
                text-align: center;
                h4
                {
                    margin-bottom: 2px;
                }
               
            }
        }
    }
    .actor-container
    {
        .actor
        {
            &:hover
            {
                text-decoration: none;
                .image-container
                {
                    &:after
                    {
                        opacity:1;
                    }
                }
            }
            .image-container
            {
                position:relative;
                img
                {
                    width:100%;
                    vertical-align:top;
                }
                &:after
                {
                    content:'\A';
                    position:absolute;
                    width:100%; 
                    height:100%;
                    top:0;
                    left:0;
                    background:rgba(0,0,0,0.3);
                    opacity:0;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                }
            }
            .actor-info
            {
                text-align: center;
                h4
                {
                    margin-bottom: 2px;
                }
               
            }
        }
    }
}

.autocomplete
{
    .suggestionList
    {
        .suggestionElement
        {
            .suggestionInfo
            {
                .suggestionImage
                {
                    img
                    {
                        max-height: 60px;
                        max-width: 40px;
                    }
                }
                .suggestionName
                {
                    position: absolute;
                    top: 40%;
                    right: 0;
                    padding-left: 20px;
                }
            }
        }
    }
}