<div class="col-md-3">
    <img ng-src="{{ actor.image }}" class="img-thumbnail"/>
</div>
<div class="col-md-5">
    <h1 class="editable">
        <span ng-class="{hide:editName}">{{ actor.firstName }} {{ actor.lastName }}</span>
        <input type="text" ng-class="{hide:!editName}" ng-model="actor.firstName" style="width: 44%;" />
        <input type="text" ng-class="{hide:!editName}" ng-model="actor.lastName" style="width: 44%;" />
        <a ng-click="editName=!editName">
            <span class="glyphicon" ng-class="{'glyphicon-pencil':!editName,'glyphicon-floppy-disk':editName}" ></span>
        </a>
    </h1>
    <p class="editable">
        <strong>Gender:</strong> <span ng-class="{hide:editGender}">{{ actor.gender }}</span>
        <label class="radio-inline" ng-class="{hide:!editGender}" ><input type="radio" value="Male" ng-model="actor.gender" ng-required="!actor.gender" > Male</label>
        <label class="radio-inline" ng-class="{hide:!editGender}" ><input type="radio" value="Female" ng-model="actor.gender" ng-required="!actor.gender" > Female</label>
        <a ng-click="editGender=!editGender">
            <span class="glyphicon" ng-class="{'glyphicon-pencil':!editGender,'glyphicon-floppy-disk':editGender}" ></span>
        </a>
    </p>
    <p class="editable">
        <strong>Birth Date:</strong> <span ng-class="{hide:editBirthDate}">{{ actor.birthDate | date : 'MM/dd/yyyy' }}</span>
        <input type="text" ui-date ng-class="{hide:!editBirthDate}" ng-model="actor.birthDate" />
        <a ng-click="editBirthDate=!editBirthDate">
            <span class="glyphicon" ng-class="{'glyphicon-pencil':!editBirthDate,'glyphicon-floppy-disk':editBirthDate}" ></span>
        </a>
    </p>
</div>
<div class="col-md-4">
    <h4>Related movies</h4>
    <div class="col-md-6" ng-repeat="movie in movies" ng-include="'templates/partial/_smallMovie.html'"></div>
</div>