<h1 class="title">Recent movies <a ui-sref="movies">View all {{ $storage.movies.length}}</a></h1>
<div ng-include="'templates/partial/_smallMovie.html'" class="col-xs-12 col-sm-6 col-md-3 movie-container" ng-repeat="movie in $storage.movies| limitTo:-4 | reverse"></div>