<div class="col-md-3">
    <img ng-src="{{ movie.cover }}" class="img-thumbnail"/>
</div>
<div class="col-md-9">
    <h1 class="editable">
        <span ng-class="{hide:editName}">{{ movie.name }}</span>
        <input ng-class="{hide:!editName}" ng-model="movie.name" />
        <a ng-click="editName=!editName">
            <span class="glyphicon" ng-class="{'glyphicon-pencil':!editName,'glyphicon-floppy-disk':editName}" ></span>
        </a>
    </h1>
    <h4 class="editable">
        <span ng-class="{hide:editReleaseYear}">{{ movie.releaseYear }}</span>
        <input type="number" string-to-number ng-class="{hide:!editReleaseYear}" ng-model="movie.releaseYear" />
        <a ng-click="editReleaseYear=!editReleaseYear">
            <span class="glyphicon" ng-class="{'glyphicon-pencil':!editReleaseYear,'glyphicon-floppy-disk':editReleaseYear}" ></span>
        </a>
    </h4>
    <hr/>
    <p class="editable">
        <strong>Rating:</strong> <span class="glyphicon glyphicon-star"></span> <span>{{ _rating | number: 2 }}</span>
        <input type="number" string-to-number ng-model="newRate" class="newRate" min="0" max="5" />
        <a href="" ng-click='updateRate()' ><span class="glyphicon glyphicon-floppy-disk"></span></a>
    </p>
    <p class="editable">
        <strong>Director:</strong> <span ng-class="{hide:editDirector}">{{ movie.directorName }}</span>
        <input type="text" ng-class="{hide:!editDirector}" ng-model="movie.directorName" />
        <a ng-click="editDirector=!editDirector">
            <span class="glyphicon" ng-class="{'glyphicon-pencil':!editDirector,'glyphicon-floppy-disk':editDirector}" ></span>
        </a>
    </p>
    <p class="editable">
        <strong>Genre:</strong> <span ng-class="{hide:editGenre}">{{ movie.genre }}</span>
        <input type="text" ng-class="{hide:!editGenre}" ng-model="movie.genre" />
        <a ng-click="editGenre=!editGenre">
            <span class="glyphicon" ng-class="{'glyphicon-pencil':!editGenre,'glyphicon-floppy-disk':editGenre}" ></span>
        </a>
    </p>
    <p class="editable">
        <strong>Gross Income:</strong> <span ng-class="{hide:editGrossIncome}">{{ movie.grossIncome | currency }}</span>
        <input type="number" string-to-number ng-class="{hide:!editGrossIncome}" ng-model="movie.grossIncome" />
        <a ng-click="editGrossIncome=!editGrossIncome">
            <span class="glyphicon" ng-class="{'glyphicon-pencil':!editGrossIncome,'glyphicon-floppy-disk':editGrossIncome}" ></span>
        </a>
    </p>
    <div>
        <strong>Actors:</strong>
        <div class="relationship" ng-repeat="actor in _relatedActors">
            <a ui-sref="viewActor({ actorId: {{ actor.id }} })">{{ actor.firstName }} {{ actor.lastName }}</a>
            <a class="danger delete" ui-sref="deleteRelationship({ relationshipId: {{ actor.relationshipId }}, movieId: {{ movie.id }} })"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <a href="#" data-toggle="modal" data-target="#actorSelector" ><span class="glyphicon glyphicon-plus"></span> Add actor</a>
    </div>
</div>

<div ng-include="'templates/partial/_actorSelector.html'"></div>