/* AUTOCOMPLETE */

.autocomplete{
    width: 100%;
    position: relative;
}

.autocomplete input{
    font-size: 1.2em;
    width: 100%;
    padding:0.4em;
}

.autocomplete .suggestionList {
    overflow: hidden;
    position: absolute;
    background-color: #FFF;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
}

.autocomplete .suggestionElement{
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.autocomplete .suggestionElement.active{
    background-color: #4bf;
}

.autocomplete .highlight {
    background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
    background: #666;
    color: #fff;
}
