<div id="actorSelector" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Actor Selector</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <h4>Not relationated Actors</h4>
                        <div ng-repeat="notRelatedActor in _notRelatedActors">
                            <a href="" ng-click="joinActor(notRelatedActor.id)">{{ notRelatedActor.firstName }} {{ notRelatedActor.lastName }}</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="" data-toggle="modal" data-target="#addActor"><span class="glyphicon glyphicon-plus"></span> Create new one</a>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->