<div id="addActor" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Actor</h4>
            </div>
            <form ng-submit="mainCtrl.addActor()" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstNameField" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="firstNameField" class="form-control" placeholder="First name" ng-model="mainCtrl.firstName" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastNameField" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="lastNameField" class="form-control" placeholder="Last name" ng-model="mainCtrl.lastName" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthDateField" class="col-sm-3 control-label">BirthDate</label>
                        <div class="col-sm-9">
                            <input type="text" ui-date id="birthDateField" class="form-control" placeholder="Birth Date" ng-model="mainCtrl.birthDate" ng-required="true" min="1900-01-01">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="genderField" class="col-sm-3 control-label">Gender</label>
                        <div class="col-sm-9">
                            <label class="radio-inline"><input type="radio" value="Male" ng-model="mainCtrl.gender" ng-required="!mainCtrl.gender" > Male</label>
                            <label class="radio-inline"><input type="radio" value="Female" ng-model="mainCtrl.gender" ng-required="!mainCtrl.gender" > Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imageUrlField" class="col-sm-3 control-label">Image URL</label>
                        <div class="col-sm-9">
                            <input type="text" id="imageUrlField" class="form-control" placeholder="Image URL" ng-model="mainCtrl.image" ng-required="true">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->