<div id="addMovie" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Movie</h4>
            </div>
            <form ng-submit="mainCtrl.addMovie()" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="movieNameField" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="movieNameField" class="form-control" placeholder="Movie name" ng-model="mainCtrl.movieName" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="releaseYearField" class="col-sm-3 control-label">Release Year</label>
                        <div class="col-sm-9">
                            <input type="number" id="releaseYearField" class="form-control" placeholder="Release Year" ng-model="mainCtrl.releaseYear" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="grossIncomeField" class="col-sm-3 control-label">Gross Income</label>
                        <div class="col-sm-9">
                            <input type="number" id="grossIncomeField" class="form-control" placeholder="Gross Income" ng-model="mainCtrl.grossIncome" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="directorNameField" class="col-sm-3 control-label">Director Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="directorNameField" class="form-control" placeholder="Director Name" ng-model="mainCtrl.directorName" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="genreField" class="col-sm-3 control-label">Genre</label>
                        <div class="col-sm-9">
                            <input type="text" id="genreField" class="form-control" placeholder="Genre" ng-model="mainCtrl.genre" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coverUrlField" class="col-sm-3 control-label">Cover URL</label>
                        <div class="col-sm-9">
                            <input type="text" id="coverUrlField" class="form-control" placeholder="Cover URL" ng-model="mainCtrl.cover" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coverUrlField" class="col-sm-3 control-label">Actors</label>
                        <div class="col-sm-9">
                            <select ng-model="mainCtrl.actors" ng-required='true' multiple style="height: 80px" ng-options="actor.id as (actor.firstName + ' ' + actor.lastName) for actor in $storage.actors"></select>
                            <a href="" data-toggle="modal" data-target="#addActor"><span class="glyphicon glyphicon-plus"></span> Add</a>
                            <span class="help-block">Select movie actors</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
