<div ng-include="'templates/partial/_navbar.html'"></div>
<!-- Find a way to prevent this repited code!!! -->
<div ng-include="'templates/partial/_addMovieModal.html'"></div>
<div ng-include="'templates/partial/_addActorModal.html'"></div>