<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-container" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">{{ appName }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-container">
            
            <!-- Left navbar links -->
            <ul class="nav navbar-nav">
                <li ng-repeat="link in navbarLinks"><a href="{{ link.url }}" class="{{ link.class }}" data-toggle="{{ link.dataToggle }}" data-target="{{ link.dataTarget }}" ><span class="glyphicon glyphicon-{{ link.icon }}"></span> {{ link.name }}</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <autocomplete attr-inputclass='form-control'  ng-model="result" attr-placeholder="Search..." data="_autoCompleteData" on-select="mainCtrl.autocompleteOnSelect"></autocomplete>
                </div>
            </form>
            
            <!-- Custom mavbar option links -->
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="link in customOptions"><a href="{{ link.url }}" class="{{ link.class }}" data-toggle="{{ link.dataToggle }}" data-target="{{ link.dataTarget }}" ><span class="glyphicon glyphicon-{{ link.icon }}"></span> {{ link.name }}</a></li>
            </ul>
            
        </div><!-- /.navbar-collapse -->
    </div>
</nav>