<a ui-sref="viewActor({ actorId: {{ actor.id }} })" class="actor" >
    <div class="image-container">
        <img ng-src="{{ actor.image }}" class="img-thumbnail"/>
    </div>
    <div class="actor-info">
        <h4>{{ actor.firstName }} {{ actor.lastName }}</h4>
        <span>{{ actor.birthDate | date }}</span>
    </div>
</a>