<a ui-sref="viewMovie({ movieId: {{ movie.id }} })" class="movie" title="{{ movie.name }}">
    <div class="image-container">
        <img ng-src="{{ movie.cover }}" class="img-thumbnail"/>
    </div>
    <div class="movie-info">
        <h4>{{ movie.name }}</h4>
        <span>{{ movie.releaseYear }}</span>
    </div>
</a>